body {
	margin: 0; padding: 0;
}
.katcontainer {
	background-color: #ccc;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.box {
	background-color: #b6b6b6;
	flex: 0 1 33%;	
}
.box1 {
	background-color: #b6b6b6;
}
.box2 {
	background-color: #c6c6c6;
}
.box3 {
	background-color: #ddd;
}
.box4 {
	background-color: #000;
}
.box5 {
	background-color: #cdcdcd;
}
.box6 {
	background-color: #cacaca;
}
.box7 {
	background-color: #0a0a0a;
}
.box8 {
	background-color: #f9f9f9;
}
.box9 {
	background-color: #ff0000;
}
@media (min-width: 768px) {
	.mobile-header {
		display: none;
	}
}